@model dynamic

@{
    ViewBag.Title = "Instructor dashboard";
}

<h2>Instructor dashboard</h2>

<div class="row nav menu instructor">
    <div class="col-md-4">
        <a href="@Url.Action("MyStudents")">
            <i class="icon-group icon-4x"></i>
            My students
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Notifications")">
            <i class="icon-bell icon-4x"></i> <span class="badge badge-important pull-right">@ViewBag.NotificationCount</span>
            <h5>View notifications</h5>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Portfolio")">
            <i class="icon-archive icon-4x"></i>
            <h5>All portfolios</h5>
        </a>
    </div>
</div>