// Add experience form

#Experience_ExperienceType_chosen, #Experience_Instructors_chosen {
	width: 100% !important;
}
.exp-viewable label {width: 80%; display: inline-block;}
.form-group.cover-photo {
	position: relative;
	overflow: hidden;
	height: 250px;
	border: $border-tripel rgba(255,255,255,.3);
}
	img#cover-preview {
		max-width: 100%;
		min-height: 100%;
		height: auto;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0; 
	}
	input#cover-image, input#cover-image[type="file"] {
		@include light-bg(0.8);
		border: 0px none;
		text-align: center;
		height: auto;
		position: absolute;
		bottom: 0px; left: 0;
		font-weight: $extrabold;
		color: #d5b053;
		padding: 0.8em;
	}

#map-canvas {
	border: $border-tripel rgba(255,255,255,.75);
}