// Dashboard styles

/* ---- Student dash ----- */

.recent {
	
	table {
		width: 100%;
	}
	th {
		font-weight: $book;
		border-bottom: $border-tripel lighten($copper, 0.5);
		vertical-align: bottom;

		h4 {font-size: 1.75em; margin: 2em 0 0;}
	}
	td {
		@include light-bg(0.5);
		border-bottom: $border-tripel #eee;
	}

	&.exp td.title a {
		color: $copper;
		font-size: 2em;
		padding: 0.75em 1em 0.9em;
		display: block;
	}
	&.feedback td {
		padding: 1em;
	}
	&.feedback td a {
		color: $sharks-blue;
		font-size: 1.25em;
	}
	&.feedback td .quotesource {
		display: block;

		a {
			color: $dark-gray;
			font-size: 1em;
			font-weight: $heavy;
		}
	}

	&.exp a.btn-default {background: $copper;
		&:hover {background: lighten($copper, 0.3); color: rgba(255,255,255,0.3);}
	}
	&.feedback a.btn-default, td a.btn-default {background: $sharks-blue;
		&:hover {background: lighten($sharks-blue, 0.3); color: rgba(255,255,255,0.3);}
	}
	
	a.btn-default i {
		color: #fff;
	}
		a.btn-default:hover i {
			color: rgba(255,255,255,0.3);
		}
		a.btn-default:hover img {
			opacity: 0.3;
		}

	& > .btn-default {margin-top: .5em;}

}

.dashbtn {
	display: block;
	background: url('img/bg-couchman.jpg') no-repeat;
	width: 100%;
	height: 190px;
	padding: 100px 0 0 15px;
	border: $border-tripel #fff;
}
	.addexp a {
		@extend .dashbtn;
		background-position: -485px -130px;
		&:hover img {
			-webkit-box-shadow: 0 0 31px 10px rgba(253, 220, 27, 0.75);
			-moz-box-shadow: 0 0 31px 10px rgba(253, 220, 27, 0.75);
			box-shadow: 0 0 31px 10px rgba(253, 220, 27, 0.75);
		}
	}
	.badgecenter a {
		@extend .dashbtn;
		background-position: -650px -483px;
		&:hover img {
			-webkit-box-shadow: 0 0 31px 10px rgba(253, 220, 27, 0.75);
			-moz-box-shadow: 0 0 31px 10px rgba(253, 220, 27, 0.75);
			box-shadow: 0 0 31px 10px rgba(253, 220, 27, 0.75);
		}
	}

