// Portfolio


/* ----- portfolio styles ----- */
.portfolio {
	margin-top: 3em;

	h1.title {height: 60px;}
	.profilebox {width: 150px; height: 60px; float: left;}
	.circlepic {
		img, .circle {height: 90px; width: 90px;}
		.name {color: #fff;}
		&.raised.profilebox a {top: -71px;}
	}
}
.menuitem {
	background: #fff;
	color: $copper;

	 a.cover {
		max-height: 185px; 
		overflow: hidden; 
		display: block;
	}
	 .cover img {max-width: 100%; position: relative; top: -25%;}

	 h3 {
	 	margin-top: 0; 
	 	font-size: 2.5em;

	 	a {color: $copper;}
	 }
	 
	 .profilebox {float: left;}
	 .circle {background: $copper;}
	 .circlepic .name {color: #fff;}
	 .details .type {
	 	.circle i {color: #fff; padding-top: 30px;}
	 	.name {color: $copper;}
	 }
	 .text {
	 	padding-left: 0;

	 	p {
	 		color: $copy-gray; 
	 		font-size: 1.25em; 
	 		margin-bottom: 1em;
	 	}
	 }
	 
	 a.footer {
		@include uppercase;
		color: $light-gray;
		font-size: .75em;
		display: block;
	}
}
