@model Badges.Models.Student.ExperienceEditModel

@{
    ViewBag.Title = "Edit Experience";
}

<h2>Edit Experience</h2>

@using (Html.BeginForm("EditExperience", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Experience.Creator", Model.User.Id)

    @Html.Partial("_ExperienceForm")
}