@model dynamic

@{
    ViewBag.Title = "Student dashboard";
}

<h2>Student dashboard</h2>

<div class="row nav menu student">
    <div class="col-md-3 exp-link">
        <a href="@Url.Action("AddExperience")">
            <i class="icon-plus icon-3x"></i>
            Add an experience
        </a>
    </div>
    <div class="col-md-3 portfolio-link">
        <a href="@Url.Action("Portfolio")">
            <i class="icon-eye-open icon-3x"></i>
            View my portfolio
        </a>
    </div>
    <div class="col-md-3 badge-link">
        <a href="@Url.Action("Index", "Badge", new { area = string.Empty })">
            <i class="icon-star icon-3x"></i>
            Badge center
        </a>
    </div>  
    <div class="col-md-3 feedback-link">
        <a href="@Url.Action("Feedback")">
            <i class="icon-comments icon-3x"></i>
            View feedback
        </a>
    </div>
</div>