@model dynamic

@{
    ViewBag.Title = "Student Dashboard";
}

<h2>Student Dashboard</h2>

<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("AddExperience")" class="btn img-rounded well well-lg">
            <i class="icon-plus icon-4x"></i>
            <h5>Add Experience</h5>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Portfolio")" class="btn img-rounded well well-lg">
            <i class="icon-user icon-4x"></i>
            <h5>My Portfolio</h5>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Index", "Badge", new { area = string.Empty })" class="btn img-rounded well well-lg">
            <i class="icon-trophy icon-4x"></i>
            <h5>Badge Center!</h5>
        </a>
    </div>  
    <div class="col-md-4">
        <a href="@Url.Action("Feedback")" class="btn img-rounded well well-lg">
            <i class="icon-minus icon-4x"></i>
            <h5>View Feedback</h5>
        </a>
    </div>
</div>