@model dynamic

@{
    ViewBag.Title = "Student Dashboard";
}

<h2>Student Dashboard</h2>

<div class="span4">
    @Html.ActionLink("Add New Experience", "AddExperience")
</div>
<div class="span4"></div>
<div class="span4"></div>
    
