@model IQueryable<Badges.Core.Domain.Experience>

@{
    ViewBag.Title = "My experiences";
}

<div class="row experiences">
    <div class="col-md-4">
        <div class="toprow">
            <div class="profilebox circlepic raised">
                <a href="#" class="SCOTT">@Html.Action("ViewProfileImage", "Profile")
                <span class="name">@ViewBag.Name</span></a>
            </div><!--/.profilebox-->
            <h1 class="title">Experiences</h1>
        </div>
    </div>
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <input type="select" class="form-control" placeholder="Sort by type"/>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Search"/>
            </div>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var experience in Model)
    {
        <div class="col-md-6">
            <div class="experience menu">
                <a href="#" class="cover SCOTT">
                <img src="../../Content/img/test-cover.jpg" alt="Exp pic goes here" />
                </a>
                <div class="details">
                    <div class="row">
                    <div class="type circlepic raised col-md-3">
                        <div class="circle">
                            <i class="icon-flag"></i>
                        </div><!--/.circle-->
                        <span class="name">Type type</span>
                    </div><!--/.type-->
                    <div class="text col-md-8">
                        <h3>@Html.ActionLink(experience.Name, "ViewExperience", "Student", new { id = experience.Id}, null)</h3>
                        <p>@experience.Description</p>
                        <a href="#" class="SCOTT footer">View full details &raquo;</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>