// Shared styles and dependencies
// Globaly used variables, mixins, and functions


// Metrics
	$border-tripel:		3px solid;


// Colors
	// The UC Davis standard colors
	$ucdavis-blue: 		#002855;
	$ucdavis-gold:		#c99700;

	// Supplemental bright color palette for UC Davis
	$unitrans-red: 		#ba0c2f;
	$western-redbud:	#c6007e;
	$california-poppy:	#ed8800;
	$golden-lupine:		#ffcd00;
	$sunny-grass:		#78be20;
	$sky-blue:			#00b5e2;
	$recpool-blue:		#008eaa;
	$wine-grape:		#642667;

	// Supplemental neutral color palette for UC Davis
	$mu-brick:			#c26e60;
	$harthall-stucco: 	#e6a65d;
	$sage-green:		#9caf88;
	$evergreen:			#00573f;
	$wintersky-gray:	#5b7f95;
	$cenwalk-gray:		#b1b3b3;
	$cork-oak:			#aca39a;
	$shingle-brown:		#4f2c1d;

	// Palette for BADGES
	$copy-gray:			#071626;
	$light-gray: 		#8f8f8f;
	$sharks-blue: 		#1b7593;
	$dark-blue: 		#234a5a;
	$copper:			#b1693d;
	$ron-burgundy:		#783032;



// Typography
	$futura:			"futura-pt", Futura Std, Futura, Arial, sans-serif;
	$sans-serif:		Helvetica Neue, Helvetica Std, Helvetica, Univers, Arial, sans-serif;
	$serif:				Georgia, Berkeley, serif;

	// Font weights - Futura Typekit
	$extralight:		200;
	$light:				300;
	$book:				400;
	$medium:			500;
	$heavy:				600;
	$bold:				700;
	$extrabold:			800;

	// Font styles
	@mixin large-title($color) {
		color: $color;
		font-size: 2.5em;
	}
	@mixin med-title($color) {
		color: $color;
		font-size: 1.1em;
		font-weight: $medium;
	}

	@mixin uppercase-mini($color) {
		color: $color;
		text-transform: uppercase;
		font-weight: $extrabold;
		letter-spacing: 0.75px;
		line-height: 1em;
	}

	@mixin uppercase-micro {
		font-size: 0.55em;
		text-transform: uppercase;
		font-weight: $bold;
		letter-spacing: 0.75px;
	}
	@mixin uppercase-big {
		font-size: 0.75em;
		text-transform: uppercase;
		font-weight: $extrabold;
	}


// Themes

	// Misc styles
	@mixin light-bg($opacity) {
		background: rgba(255,255,255,$opacity); 
	}

	@mixin footer-btn {
		display: block;
		width: 100%;
		background: $copper;
		@include uppercase-mini(#fff);
		letter-spacing: 1.5px;
		font-size: .8em;
		padding: .5em 1em;
		text-align: left;
	}

