@{
    ViewBag.Title = "About";
}

@section AdditionalStyles
{
    <style type="text/css">
        .typeahead-worktype {
            margin: 0 20px 5px 20px;
            padding: 3px 0;
            border-bottom: 1px solid #ccc;
        }

        .btn {
    border-radius: 0px;
}
    .btn-primary {
        background: #1b7593;
        border-color: #1b7593;
    }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
        background: #234a5a;
        border-color: #234a5a;
    }

.work .row div p {
    font-weight: 300;
    padding: 0;
    font-size: 1em;
}

.background {
    background: fixed 0 0 / 100% auto #292C37 url(img/bg-couchman.jpg) no-repeat;   
}
.section-landing .jumbotron {

    background: fixed 0 0 / 100% auto #292C37 url(img/bg-couchman.jpg) no-repeat;
    background: transparent;
    background-size: 100%;
}
    .section-landing .jumbotron.learning {
        background: url(img/bg-lamb.jpg) no-repeat;
        background-size: 100%;
    }

.jumbotron {margin-bottom: 0px;}
.jumbotron.work {
    background: url(img/bg.jpg) top center;
    margin-bottom: 0px;
}

.section-landing .jumbotron .container {
    background: transparent;
    min-height: 300px;
}
    .jumbotron .overlay {
        min-height: 200px;
    }
    .overlay h3 {
        font-weight: 700;
        letter-spacing: 1px;
    }
    .jumbotron .actions {
        margin-bottom: 1em;
    }

    .jumbotron.learning .actions {
        margin-top: 1em;
    }
    .jumbotron.learning .actions h3 {
        color: #fff;
        background: rgba(33,33,33,.6);
        padding: .25em .5em;
    }

.section-landing .work div {
    background: transparent;
}
        
    </style>
}

<div class="section-landing">
  <div class="background">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div class="overlay">
          <div class="toprow">
            <h1 class="title">Recognize learning everywhere.</h1>
          </div><!--/.toprow-->
          <div class="btmrow">
            <h3 class="location"><i class="icon-map-marker"></i>UC Davis, CA</h3>
          </div><!--/.btmrow-->
        </div><!--/.overlay-->
      <div class="row actions">
        <div class="actions col-md-offset-3 col-md-6">
          <p class="row">
            <a class="btn btn-primary btn-lg col-md-5">Learn more</a>
            <a class="btn btn-primary btn-lg col-md-offset-1 col-md-5">Log in <i class="icon icon-double-angle-right"></i></a>
          </p>
        </div>
      </div><!--/.row-->

      </div><!--/.container-->
    </div><!--/.jumbotron-->

 <div class="jumbotron work">
    <div class="container work">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>A Tradition of Land-based Learning</h2>
          <h4>More than 100 years ago, UC Davis started out as a farm for the University of California.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <h3>Leader in the Field</h3>
          <p>Out of that early connection to the land, we’ve grown to be the premier agricultural research institution in the world, and a model within the land-grant university system.</p>
        </div><!--/.photo-->
        <div class="col-md-3">
          <h3>Sustainable Innovation</h3>
          <p>Now in our second century, we continue to innovate at the frontiers of food and agriculture, and bring a strong focus on sustainability to that work. </p>
        </div><!--/.photo-->
        <div class="col-md-4">
          <h3>Next Generation of Leaders</h3>
          <p>Students from around the world are drawn to work at this interface of Food, Agriculture and Sustainability at UC Davis. Many of these students are part of an innovative undergraduate major in <a href="#">Sustainable Agriculture and Food Systems (SA&amp;FS)</a>.</p>
        </div><!--/.photo-->
  
      </div><!--/.row-->
    </div><!--/.work.container-->
  </div>

 <div class="jumbotron ">
    <div class="container work">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6 col-md-offset-1">
          <h2>The Badges Experiment</h2>
          <p>Students in the SA&amp;FS major have the unique opportunity to participate in one of the first badge systems in higher education to be integrated into the formal curriculum, as a complement to traditional grading and evaluation.</p>
          <h4>Follow along as we show you how our badge system works and how it’s transforming student learning at UC Davis.</h4>
        </div>
        <div class="col-md-5">
          <img src="img/iMac-badges.png" />
        </div>
      </div>
    </div><!--/.work.container-->
</div>

    <div class="jumbotron learning">
      <div class="container">
        <div class="overlay">
          <div class="toprow">
            <h1 class="title">Learning happens everywhere.</h1>
          </div><!--/.toprow-->
          <div class="btmrow">
            <h3 class="location">Online. On farm. On fieldtrips. In labs, in the field. With friends.</h3>
            <h3>In the classroom. In teams. In the field. In workshops. Everywhere.</h3>
          </div><!--/.btmrow-->
        </div><!--/.overlay-->
      <div class="row actions">
        <div class="actions col-md-offset-1 col-md-10">
          <h3 class="row">
            What if you could capture, reflect on, and recognize all of it? 
          </h3>
        </div>
      </div><!--/.row-->

      </div><!--/.container-->
    </div><!--/.jumbotron-->
   

 

 <div class="jumbotron work">
    <div class="container work">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Here at UC Davis...</h2>
          <h4>Something about pathways.</h4>
        </div>
      </div>
      <div class="row">

  
      </div><!--/.row-->
    </div><!--/.work.container-->
  </div>



    <div class="container">
      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->

  </div>
  </div>