@{
    ViewBag.Title = "Home Page";
}

@section AdditionalStyles
{
    @Styles.Render("~/Content/typeahead")
}

<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Badges!</h1>
        @*<p><input type="text" id="typeahead" placeholder="Your Name?"/></p>*@
        <p><a href="@Url.Action("Index")" class="btn btn-primary btn-lg">Go to Landing Page</a></p>
    </div>
</div>

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/typeahead")

    <script type="text/javascript">
        $(function() {
            $('#typeahead').typeahead({
                name: 'accounts',
                //prefetch: 'https://twitter.com/network.json',
                local: ['scott', 'trish', 'joanna', 'feeeeeeeeesh']
            });
        });
    </script>
}
