@{
    ViewBag.Title = "Home Page";
}

@section AdditionalStyles
{
    @Styles.Render("~/Content/typeahead")
}

<div class="jumbotron">
    <div class="container">
        <h1>Welcome to Badges!</h1>
        @*<p><input type="text" id="typeahead" placeholder="Your Name?"/></p>*@
        <p><a href="@Url.Action("Landing")" class="btn btn-primary btn-lg">Go to Landing Page</a></p>
        <div class="well well-sm">
            <p>Resetting the database will clear all data and generate a clean db structure</p>
            @Html.ActionLink("Reset Database", "Reset", "Home", new { area = string.Empty }, new { @class = "btn btn-danger" })
        </div>
    </div>
</div>

@section AdditionalScripts
{
    @Scripts.Render("~/bundles/typeahead")

    <script type="text/javascript">
        $(function() {
            $('#typeahead').typeahead({
                name: 'accounts',
                //prefetch: 'https://twitter.com/network.json',
                local: ['scott', 'trish', 'joanna', 'feeeeeeeeesh']
            });
        });
    </script>
}
