@model Badges.Models.Shared.ExperienceViewModel

<div id="work-container" class="container work">
    <div class="row">
        @foreach (var work in @Model.SupportingWorks)
        {
        	@* <div class="col-md-4"> *@
	            <div class="@work.Type work-item-box">
	                @Html.Partial("_ViewWork", work)
	                <p>@work.Description<br />
                        <a href="#edit">
                            <i class="icon-edit"></i>
                        </a>
                        <a href="#delete">
                            <i class="icon-remove"></i>
                        </a>
                    </p>
                    <div></div>
	            </div>
            @* </div> *@
        }
    </div>
</div>
