@model dynamic

@{
    ViewBag.Title = "Badge Center";
}

<h2>Badge center</h2>


<ul class="nav menu row">
    <li class="col-md-4"><a href="Create"><i class="icon-beaker icon-3x"></i>@Html.ActionLink("Design a badge", "Create")</a></li>
    <li class="col-md-4"><a href="Browse"><i class="icon-star icon-3x"></i>@Html.ActionLink("Earn a badge", "Browse")</a></li>
    <li class="col-md-4"><a href="MyBadges"><i class="icon-trophy icon-3x"></i>@Html.ActionLink("My badges", "MyBadges")</a></li>
</ul>