@model dynamic

@{
    ViewBag.Title = "Badge Center";
}

<h2>Badge Center</h2>

<ul class="nav">
    <li>@Html.ActionLink("Design A Badge", "Create")</li>
    <li>@Html.ActionLink("Earn A Badge", "Browse")</li>
    <li>@Html.ActionLink("My Badges", "MyBadges")</li>
</ul>