@model Badges.Models.Profile.ProfileEditModel

@{
    ViewBag.Title = "Create You Profile";
}

<h2>Welcome to Badges</h2>

@using (Html.BeginForm("Create", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Create your profile</legend>
    </fieldset>

    @Html.Partial("_ProfileForm")
}