@model Badges.Models.Profile.ProfileEditModel

@{
    ViewBag.Title = "Your Profile";
}

<h2>Edit Your Profile</h2>

@using (Html.BeginForm("Edit", "Profile", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>Edit your profile</legend>
    </fieldset>

    @Html.Partial("_ProfileForm")
}