// Forms


/* ----- form styles ----- */
.container.form h3, .container form .form-group label, .container form h3 {
	font-weight: $medium;
	color: $pale-blue;
	margin-bottom: .3em;
	margin-left: .8em;
}
	label {
		font-size: 1.75em; 
		margin-top: .7em;
		margin-bottom: 0;
	}
	p label {font-size: 1em;}

h2.intro, .intro h2 {
	@include intro-title;
}

legend {
	border: 0px none;
}
div.helptext {
	margin-top: 62px;
}
.helptext {
	p {
		vertical-align: top;
		@include helptext;
		padding: 0 0 0 10px;
	}
	i {
		color: #adaca9;
		font-size: 2em;
		padding-left: 40px;
		padding-right: 0px;
	}
}

	p.helptext {
		@include helptext;
		padding: 0 15% 0 1.1em;
	}

.profilepic {
	.thumbnail {
		margin-top: 0px;
		border-radius: 0px;
		border: 0px none;
		background: transparent;
	}
	img {
		border-radius: 50%; 
		border: $border-tripel #fff;
		width: 75%;
	}
}

.container.form div.top {
	padding-top: 1.1em;
}

.form-group {
	margin-bottom: 20px;
}
.form-control, 
.form-control.datepicker, 
.chosen-container-single .chosen-single,
.chosen-container .chosen-drop x,
.chosen-container-multi .chosen-choices {
	background: #f8f7f5;
	@include light-bg(0.5);
	border-radius: 0px;
	box-shadow: none;
	border: $border-tripel rgba(255,255,255,.3);
	height: 60px;
	color: $pale-gold;
	font-size: 1.75em;
	padding: 0.4em 0.8em;
	letter-spacing: .5px;
}
	.chosen-container-multi .chosen-choices {
		vertical-align: middle;
		padding: 0.4em 0.8em 0;
	
		li.search-field input[type="text"] {
			height: auto;
			color: #ccc;
			font-family: $futura;
		}
	}
	.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
		height: 60px !important;
	}
	.form-control:focus {
		border-color: rgba(27, 117, 147, 0.2);
		@include light-bg(0.75);
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(27, 117, 147, 0.1);
	}
	textarea.form-control {
		min-height: 200px;
		font-size: 1.5em;
	}

.container.form .form-control.required:after {
	content: ' *';
	color: $ron-burgundy;
}
	.field-validation-error {
		color: $ron-burgundy;
		padding-left: .8em;
		padding-top: .4em;
		font-size: 1.25em;
		display: block;
	}
	.field-validation-error:before {
		content: '* ';
	}
.chosen-container {
	font-size: inherit;
}
	.chosen-container-single .chosen-single {
		/* TODO - change out url("chosen-sprite.png") with proper arrows */
		padding-top: .7em;
	}
	.chosen-container-single .chosen-single div {
		top: 50%; bottom: 50%;
	}
	.chosen-container-active.chosen-with-drop .chosen-single {
		@include light-bg(0.6);
		border-color: rgba(27, 117, 147, 0.2);
	}
.dropdown-menu {
	min-width: 360px;
}
	.datepicker {
		text-align: center;
		table {width: 100%;}
	}

.actions {
	padding-bottom: 50px;
}
	.btn {
		font-size: 1.5em;
		@include uppercase;
		border: 0px none;
		border-radius: 0px;
		margin-right: 40px;
		padding: 15px 40px;
	
		&.btn-sm {font-size: 0.8em; margin-right: 0; padding: 10px 15px;}
		&.btn-xs {padding: 1px 5px; margin: 0;}
		i {padding-right: 10px;}
	}
	.btn-default {
		background-color: $light-gray;
		color: #fff;

		i {color: $med-gray;}	
	}
	.btn-success {
		background-color: $badges-green;
	
		i {color: #a4ccad;}
	}
