// Modal styles

.modal-content {
	background: url(img/bg.jpg) #f0efed top center repeat fixed;
	border: 0px none;
}
.modal-header {
	background: $sharks-blue;
	color: #fff;

	#supporting-work & {background: $badges-green;}
	h1, h2, h3, h4 {
		color: #fff;
		font-style: italic;
	}
}
.modal-footer {border: 0px none;}
.panel {
	@include light-bg(0.5);
}
	.panel-title {
		background: #fff;
		padding: 1em;
		font-size: 1.3em;
	}